# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.production
apps/mobile/google-services.json
apps/mobile/google-service-account.json

# Build outputs
dist/
build/
.next/
out/

# React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

# Logs
logs/
*.log
server/uploads/*
!server/uploads/.gitkeep
npm-debug.log*

# Docker
docker-volumes/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/settings.json
*.swp

# Database
*.sqlite
*.db
